body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Culoarea fundalului */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    margin-left: 0%;
    margin-top: 0%;
    width: 100%;
    text-align: center;
}

.SoonImg {
    max-width: 100%;
    height: auto;
    width: auto\9; /* IE8-9 fix */
}

/* Media query pentru dispozitive mobile cu o lățime de ecran mai mică sau egală cu 767px */
@media (max-width: 767px) {
    img {
        max-height: 100vh;
    }
}
