body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Culoarea fundalului */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    margin-left: 0%;
    margin-top: 0%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: block;
}

.SoonImg {
    max-width: 100%;
    height: auto;
}

.mobile-image {
    max-width: 100%;
    height: auto;
    display: none;
}

.hidden {
    display: none;

/* Media query pentru dispozitive mobile cu o lățime de ecran mai mică sau egală cu 767px */
@media (max-width: 767px) {
    .SoonImg {
       display: none;
    }
    .mobile-image {
        display: block;
    }
}
