body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Culoarea fundalului */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.desktop-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.mobile-image {
    max-width: 100%;
    height: auto;
    display: none;
    margin: 0;
    padding: 0;
}


/* Media query pentru dispozitive mobile cu o lățime de ecran mai mică sau egală cu 767px */
@media (max-width: 767px) {
    .desktop-image {
       display: none;
    }
    .mobile-image {
        display: block;
    }
}
